<a href="https://colab.research.google.com/github/datalover2023/Module_4/blob/main/Budget_UseCase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libraries

In [ ]:
import pandas as pd
import numpy as np

import os
import glob
import shutil
import sys
from pathlib import Path

import matplotlib.pyplot as plt
import matplotlib.image as mpimg

from openpyxl import load_workbook # necesserry library

# utility functions for cells locations
# !pip install xlsxwriter  # uncomment if necessary
import xlsxwriter
from xlsxwriter.utility import xl_rowcol_to_cell
from xlsxwriter.utility import xl_col_to_name
from xlsxwriter.utility import xl_range, xl_range_abs
from openpyxl.utils import get_column_letter, column_index_from_string

In [ ]:
# set visible all columns
pd.set_option('display.max_columns', None)

# Settings

## Drive and cwd

In [ ]:
# Accessing Google Drive from Google Colab

from google.colab import drive 
drive.mount('/content/gdrive')

In [ ]:
# assing current working directory (`cwd`)
cwd = os.getcwd()
cwd

'/content'

In [ ]:
# containing of /content directory
os.listdir()

['.config', 'sample_data']

## Import Files

In [ ]:
# import files

# import files into google Colab
from google.colab import files

In [ ]:
# upload from your local : images .png from your downloads
uploaded = files.upload()

In [ ]:
# containing of /content directory, see if images were uploaded
os.listdir()

## Module_4 folder

In [ ]:
# uncoment if you want to reinitilize Module_4

# delete folder Model_3 with all containing
# shutil.rmtree('/content/gdrive/MyDrive/Module_4')

In [ ]:
# create a floder Module_4 where you'll store files

# create a new folder called "Module_4"

# First: 
# write the path to the "Module_4" sub_directory
folder = cwd + '/' + 'gdrive/MyDrive/Module_4/images' # == > /content/gdrive/MyDrive/Module_3/images
print(folder)

# Second:
# create the folder at the indicated path
os.makedirs(folder) # create an empty folder

In [ ]:
# check files in Module_4 directory
os.listdir('/content/gdrive/MyDrive/Module_4')

In [ ]:
# containing of folder images
os.listdir('/content/gdrive/MyDrive/Module_3/images')

In [ ]:
# select all .png and move them to folder Module_3/Images

# searchin for all files with extention .png
# and store the into a list png_files

png_files=[]
for file in os.listdir():
    if file.endswith('.PNG'): # or '.csv' if your'looinkg for csv files
            png_files.append(file)
            
# it will print out excel names present in current directory folder = 'Basics_Python"
print( 'there are', len(png_files), "png files ")
print(png_files[:4])

In [ ]:
# move all images into folder MOdule_4/Images

folder = '/content/gdrive/MyDrive/Module_4/images'

for image in png_files:
  shutil.move(image, # file/folder to cut
              folder) # folder where to move

In [ ]:
# checl if images were moved from cwd
os.listdir()

In [ ]:
# check files in Module_4
os.listdir('gdrive/MyDrive/Module_4')

In [ ]:
# check files present in Module_3/Images, all the images were transfered to Module_3/images
os.listdir('/content/gdrive/MyDrive/Module_4/images')

In [ ]:
# change cwd to Module_4
os.chdir('gdrive/MyDrive/Module_4')
# check the new current working directory now
cwd = os.getcwd()
cwd # folder MOdule_3 will be from now on our cwd

In [ ]:
# upload from your local : 'Budget_raw.xlsx'
uploaded = files.upload()

In [ ]:
# check if Groceries.xlsx is on cwd ==> Module_3
os.listdir()

In [ ]:
# check the notebook in your Colab Notebooks

os.listdir('/content/gdrive/MyDrive/Colab Notebooks')

In [ ]:
# copy notebook "Excel_processing_Basics_Colab_Module_3" in your cwd MOdule_3

# copy all images into folder MOdule_3/Images

folder = '/content/gdrive/MyDrive/Module_4' # path to were to move
notebook = '/content/gdrive/MyDrive/Colab Notebooks/Excel_processing_Basics_Colab_Module_3_backup_v2.ipynb' # path from the where to get the notebook

# copy (or move) from google colab to module_3, if you like to move ==> .move
shutil.copy(notebook, # file/folder to cut/copy
            folder) # folder where to move

# DF, read Excel

In [ ]:
# read excel and put it in a dataframe

filename='Budget_raw.xlsx'
df = pd.read_excel(filename, index_col=None, header=0)
df = pd.DataFrame(df)
# df = df.set_index(['Region', 'Business', 'Department'])

print('df dimensions: ', df.shape)
print('df lengh: ', len(df))
print('df columns: ', df.columns)
# display first 8 rows
df.head(8)

df dimensions:  (1937, 15)
df lengh:  1937
df columns:  Index(['Business', 'Department', 'Region', 'Jan Income', 'Feb Income',
       'Mar Income', 'Apr Income', 'May Income', 'Jun Income',
       'Jan Expenditure', 'Feb Expenditure', 'Mar Expenditure',
       'Apr Expenditure', 'May Expenditure', 'Jun Expenditure'],
      dtype='object')

,Business,Department,Region,Jan Income,Feb Income,Mar Income,Apr Income,May Income,Jun Income,Jan Expenditure,Feb Expenditure,Mar Expenditure,Apr Expenditure,May Expenditure,Jun Expenditure
0,B2C_1,Loans,AT,5924.95,4680.71,7406.19,7169.19,7406.19,5213.96,5178.13,3883.60,3534.08,4240.90,3731.99,4217.15
1,B2C_1,Loans,AT,5924.95,7346.94,6872.94,4739.96,6280.45,6576.69,3913.87,3835.59,4410.93,4058.06,4220.38,5064.46
2,B2C_1,Loans,AT,5924.95,7406.19,6043.45,6161.95,6161.95,5924.95,4386.71,3377.77,3411.55,3206.86,3399.27,3229.31
3,B2C_1,Services,AT,5924.95,5865.70,7406.19,4858.46,5984.20,7169.19,4840.73,4743.92,5692.70,5123.43,4867.26,5500.00
4,B2C_1,Loans,AT,5924.95,6280.45,6102.70,6339.70,5865.70,6458.20,5875.00,5698.75,5983.69,6701.73,7505.94,8481.71
5,B2C_1,Loans,AT,5867.90,7334.88,6102.62,4987.72,6043.94,6396.01,2229.34,2162.46,2551.70,2908.94,3112.57,3237.07
6,B2C_1,Loans,AT,5824.70,6814.90,6989.64,4543.27,6465.42,5649.96,2199.00,1737.21,2015.16,2115.92,1883.17,1977.33
7,B2C_1,Loans,AT,5924.95,5391.70,4976.96,7346.94,6102.70,5806.45,3924.12,3767.16,4068.53,3987.16,4505.49,3964.83

In [ ]:
# check data dypes for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1937 entries, 0 to 1936
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Business         1937 non-null   object
 1   Department       1937 non-null   object
 2   Region           1937 non-null   object
 3   Jan Income       1937 non-null   float64
 4   Feb Income       1937 non-null   float64
 5   Mar Income       1937 non-null   float64
 6   Apr Income       1937 non-null   float64
 7   May Income       1937 non-null   float64
 8   Jun Income       1937 non-null   float64
 9   Jan Expenditure  1937 non-null   float64
 10  Feb Expenditure  1937 non-null   float64
 11  Mar Expenditure  1937 non-null   float64
 12  Apr Expenditure  1937 non-null   float64
 13  May Expenditure  1937 non-null   float64
 14  Jun Expenditure  1937 non-null   float64
dtypes: float64(12), object(3)
memory usage: 227.1+ KB

# Excel workbook

In [ ]:
# load a specific spreadsheet
# be carefull, the excel file should be closed on your computer in order to access it

# load Budget_raw.xlsx workbook
filename = 'Budget_raw.xlsx'
wb = load_workbook(filename= filename, #relative path
                   #read_only=True, # optimised for reading, content cannot be edited
                   data_only =True) # controls whether cells with formulae have either the formula (default) or the value stored the last time Excel read the sheet

In [ ]:
# get sheetnames of the workbook
wb.sheetnames

Metadata

In [ ]:
# Metadata
wb.properties

In [ ]:
# add some metadata

wb.properties.title  = 'Budget_Processed Excel Automation'
wb.properties.creator  = 'Cristina Teleuca'
wb.properties.description  = 'Excel Manipulation with Python openpyxl' 
wb.properties.keywords  = ['Excel', 'Automation', 'Python', 'openpyxl']

wb.properties

Worksheet

In [ ]:
# assign sheet for sheetname 'Data' the sheet we'll work with
sheet = wb['Data']
sheet.title

In [ ]:
# get nb of rows of a sheet
print(sheet.max_row)

# get nb of columns of a sheet
print(sheet.max_column)

In [ ]:
# save the workbook into another excel "Budget_processed.xlsx" 
wb.save('Budget_processed.xlsx')
# check if the new excel file was created
os.listdir()

# Excel exploration with openpyxl

In [ ]:
# compute the range of the whole dataframe 
max_row, max_col = df.shape
print('df shape: ', max_row, max_col) #df.shape method start at o indexing

df_range = xl_range(0, # starting row
                    0, # starting column
                    max_row, # last row index
                    max_col - 1) # last column -1 as the index starts a 0
print('in excel the df cellrange is : ', df_range)

In [ ]:
# Access all cells from A1 to 05
for idx, row in enumerate(sheet['A1:O5']):
    print(idx+1, [x.value for x in row])

In [ ]:
# start indices
start_point = xl_rowcol_to_cell(0,0) # coordinates of top lef of df
start_col = xl_col_to_name(0)# # get the column letter for first column
print("start point:", start_point,     
      "start col:", start_col)

In [ ]:
# end indices
end_point = xl_rowcol_to_cell(max_row, max_col-1) # # coordinates of bottom right of df
end_col = xl_col_to_name(max_col-1) # get the column letter for the last column
end_row = max_row + 1 # last row in excel (+1)
print("end point:", end_point, 
      "end_row:", end_row,      
      "end col:", end_col)

In [ ]:
# get the index nb of column O
column_index_from_string('O')

In [ ]:
# reverse
get_column_letter(15)

In [ ]:
# read all values from 1st row
print('nb of rows: ' , sheet.max_row)
print('nb of columns: ' , sheet.max_column)

# iterate the 1 row values of the sheet
for i in range(1, sheet.max_column+1): # add + 1, as the range function 2nd argument is not inclusive
    ref = sheet.cell(row=1, column=i)
    print(ref.column, ref.value)

In [ ]:
# iterate the 1 Column values of the sheet of the sheet up tp 10th row
for i in range(1, 10 + 1): # add + 1, as the range function 2nd argument is not inclusive
    ref = sheet.cell(row=i, column=1)
    print(ref.column, ref.value)

In [ ]:
# iterate the 2nd Column values of the sheet of the sheet up tp 10th row
for i in range(1, 10 + 1): # add + 1, as the range function 2nd argument is not inclusive
    ref = sheet.cell(row=i, column=2)
    print(ref.column, ref.value)

In [ ]:
# iterate the last_column values of the sheet up tp 10th row
last_column = sheet.max_column

for i in range(1, 10 + 1): # add + 1, as the range function 2nd argument is not inclusive
    ref = sheet.cell(row=i, column=last_column)
    print(ref.column, ref.value)

# Add columns

## Income

Total Income

We want to add a column that will sum up all income columns from Jan to June
# 1. Identify columns that have the string Income in it
# 2. Sum up Income columns row by row
# 3. order columns

In [ ]:
# how to find a substring in a string

fullstring = "StackAbuse"
substring = "tack"

if substring in fullstring:
    print("Found!")
else:
    print("Not found!")

In [ ]:
# 1. Identify columns that have the string Income in it

## create an empty lis where we'll store column names that heve the string "Income" in it
income_col=[]
## iterate through column indices
for col in range(0, len(df.columns)):
    if 'Income' in df.columns[col]: #  identify column index for column with Income
        income_col.append(col) # if column is identify store its index in the income_col list

print(income_col) # the list with column indices that have Income in columns

# assign variables with the start column index and the end column index
income_start= income_col[0]
income_end= income_col[-1]
print(income_start, income_end)

In [ ]:
# check those columns at found indices 
df.iloc[:, income_start:income_end+1] # equal to df.iloc[all rows, from col 3 to col 9]

In [ ]:
# 2.compute the total income and assign it in a new column in the df
# and add a new column 'Total Income' that will store the some of columns

df['Total Income'] = df.iloc[:, income_start:income_end].sum(axis=1) # axis=1 is  the column axis
df.head() #the column was added at the the end

In [ ]:
income_end

In [ ]:
# order: we want to order columns so Total Income would follof the Income columns
# cut and insert the column after all Income months columns

df.insert(income_end + 1, # at what index to insesrt
          'Total Income', # Label of the inserted column.
          df.pop('Total Income')) # Return item and drop from frame
df.head()

Let's have look where Income stands in the excel

In [ ]:
# find column number of column Jan Income in Excel
for i in range(1, sheet.max_column+1):# without + 1
    ref = sheet.cell(row=1, column=i)
    if ref.value == 'Jan Income':
        print('in EXCEL the column nb for Jan Income is: ', ref.column)

In [ ]:
# find column number that have Income months

income_col = []
for i in range(1, sheet.max_column+1):# without + 1
    ref = sheet.cell(row=1, column=i)
    if 'Income' in ref.value:
        income_col.append(ref.column)

print(income_col)

In [ ]:
income_start= income_col[0] - 1
print(income_start)
income_end= income_col[-1] -1 
print(income_end)
print('')

# find the letters corespondin to this columns
print('income starts at column: ', xl_col_to_name(income_start),
      'income end at column: ', xl_col_to_name(income_end))

In [ ]:
income_col

In [ ]:
# compute where to copy/past the total for expenditure
total_inc_col = income_col[-1] + 1
# we would like to insert the column Total Income at column 10
print(total_inc_col)

In [ ]:
# insert columns
sheet.insert_cols(idx= total_inc_col, # column location
                  amount=1) # how many columns to insert


wb.save('Budget_processed.xlsx')

In [ ]:
# in updated excel, we inserted an empty column (after June Income)

for idx, row in enumerate(sheet['A1:L5']):
    print(idx+1, [x.value for x in row])

In [ ]:
# save the column 'Total Income' from df computed with pandas in list cellrange

cellrange = df['Total Income']

# the column index (in excel) where we want to write
print(total_inc_col)

# starting row 2
row= 2

# copy the elements from cellrange in excel
for i in range(0, len(cellrange)):
    sheet.cell(row=row, column = total_inc_col).value= cellrange[i]
    row=row+1

# save the modifications
wb.save('Budget_processed.xlsx')

In [ ]:
print(total_inc_col)
# in updated excel, we wrote the cellrange datas in the column 10

for idx, row in enumerate(sheet['A1:L5']):
    print(idx+1, [x.value for x in row])

In [ ]:
# write column name for Total expenditure as a header
# compute this location...
total_inc_col_letter = get_column_letter(total_inc_col)
total_inc_row = 1
total_inc_cel_ref = str(total_inc_col_letter) + str(total_inc_row)
total_inc_cel_ref

In [ ]:
# write it in excel 
sheet[total_inc_cel_ref]= 'Total Income'
wb.save('Budget_processed.xlsx') 

for idx, row in enumerate(sheet['A1:L3']):
    print(idx+1, [x.value for x in row])

In [ ]:
# display image
img = mpimg.imread('images/img_1.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

## Expenditure

Total Expenditure

In [ ]:
# first compute total income for all months in df

# identify column index for column with Income
expenditure_col=[]
for col in range(0, len(df.columns)):
    if 'Expenditure' in df.columns[col]:
        expenditure_col.append(col)

print(expenditure_col)

expenditure_start= expenditure_col[0]
expenditure_end= expenditure_col[-1]

In [ ]:
#check those columns at found indices 
df.iloc[:, expenditure_start:expenditure_end+1]

In [ ]:
# compute the total income and assign it in a new column in the df
df['Total Expenditure'] = df.iloc[:, expenditure_start:expenditure_end].sum(axis=1)
df.head() #the column was added at the the end

In [ ]:
# find column number of column Jan Income
for i in range(1, sheet.max_column+1):# without + 1
    ref = sheet.cell(row=1, column=i)
    if ref.value == 'Jan Expenditure':
        print('the column nb for Jan Expenditure is: ', ref.column)

In [ ]:
# find column number that have Income months

expenditure_col = []
for i in range(1, sheet.max_column+1):# without + 1
    ref = sheet.cell(row=1, column=i)
    if 'Expenditure' in ref.value:
        expenditure_col.append(ref.column)

print(expenditure_col)

In [ ]:
expenditure_start= expenditure_col[0] - 1
expenditure_end= expenditure_col[-1] -1 

print('expenditure starts at column: ', xl_col_to_name(expenditure_start),
      'expenditure end at column: ', xl_col_to_name(expenditure_end))

In [ ]:
# display image
img = mpimg.imread('images/img_1.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# compute where to copy/past the total for expenditure
total_exp_col = expenditure_col[-1] + 1
total_exp_col

In [ ]:
cellrange = df['Total Expenditure']
row= 2
for i in range(0, len(cellrange)):
    sheet.cell(row=row, column = total_exp_col).value= cellrange[i]
    row=row+1

wb.save('Budget_processed.xlsx')

In [ ]:
# write column name for Total expenditure
total_exp_col_letter = get_column_letter(total_exp_col)
total_exp_row = 1
total_exp_cel_ref = str(total_exp_col_letter) + str(total_exp_row)
total_exp_cel_ref

In [ ]:
sheet[total_exp_cel_ref]= 'Total Expenditure'
wb.save('Budget_processed.xlsx')

In [ ]:
for idx, row in enumerate(sheet['H1:Q5']):
    print(idx+1, [x.value for x in row])

In [ ]:
# display image
img = mpimg.imread('images/img_2.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

# Net

We would like to add a new column "Net" at the end of the columns
that would soubstract Total Exp from Total Exp

In [ ]:
df.head()

In [ ]:
# compute Net column in df
df['Net']= df['Total Income'] - df['Total Expenditure']
df.head()

In [ ]:
# take values for column Net from df
# and put them into a list cellrange

cellrange = list(df['Net'])
cellrange[:10]

In [ ]:
# insert 'Net' iat index 0 (1st position)
cellrange.insert(0, 'Net')
cellrange[:10]

In [ ]:
# column where to paste Net column
net_col = df.shape[1]
print(net_col)

In [ ]:
print(net_col)

# from row 1
row= 1
# write  cellrange in excel at column net_col

for i in range(0, len(cellrange)):
    sheet.cell(row=row, column = net_col).value= cellrange[i]
    row=row+1

# save
wb.save('Budget_processed.xlsx')

In [ ]:
# display image
img = mpimg.imread('images/img_3.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
'''
writer.save()
workbook.close()

'''

# Overview

Now we'd like to work on the overview part

In [ ]:
# overview part
img = mpimg.imread('images/img_4.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

First, we'll create a new sheet "OVerview" where we'll work on Overview part data

In [ ]:
# create sheet 'Overview'
wb.create_sheet(title='Overview')

overview= wb['Overview'] # create reference to the sheet# delete a sheet

# check the workbook sheet
print(wb.sheetnames)

# save the new workbook 
wb.save('Budget_processed.xlsx')

## Income & Expenditure names & Months

Months

Get all the months present in the excel

In [ ]:
# identify column index for column with Income
months=[]
for month in df.columns:
    if 'Income' in month:
        months.append(month)
print(months)

# remove 'Total Income' from the list
months.remove('Total Income')
months

In [ ]:
# remove the substring ' Income' from the list items

months = list(map(lambda x: x.replace(' Income',''), months))
print('nb of months: ', len(months))

# save in variable nb_months the nb of monthe
nb_months = len(months)

print('')
print('will have the same months for INcome, and Expenditure as well')
months

Income

In [ ]:
# create a list where the string "INCOME" will be repeated 7 times
# we multiply ['INCOME'] by the length of months (here 7) 

list_income= ['INCOME']* (nb_months)
list_income

In [ ]:
# we'll do a nested list "list_inc_2" that will contain both lists:
# list_income AND months

list_inc_2 = [list_income, months]
print(list_inc_2)

Expenditure

Let's do the same for Expenditure..

In [ ]:
list_expenditure= ['Expenditure']*(nb_months)
list_exp_2 = [list_expenditure, months]
print(list_exp_2)

zip() function

The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it. (it's like combining items from both lists)

In [ ]:
languages = ['Java', 'Python']
versions = [14, 3]

result = zip(languages, versions)
print(list(result))

In [ ]:
list(zip(list_inc_2, list_exp_2))

In [ ]:
# let's do the same with list_inc_2, list_exp_2
# but will modify a little bit, so in final we'll have lists and not tuples
# and also we will flatten/ merge to obtain a single list by tuple
# finally we will obtain a nested list inc_exp

inc_exp = [a + b for a, b in zip(list_inc_2, list_exp_2)]
inc_exp

Add the Inc, Exp names rows and months rows to overview

In [ ]:
# compute dimensions of the nested list

print(inc_exp)
# how many itmes in nested list
maxr = len(inc_exp)

# how many subitmes in nested list
maxc = len(inc_exp[0])

print('')
print(maxr , maxc)

In [ ]:
# copy to excel
for this_row in range (1, maxr + 1):
    for this_column in range (1, maxc + 1):
        #print(this_row)
       # print(this_column)
        cellsource = inc_exp[this_row-1][this_column-1]        
        overview.cell(row = this_row+1, column = this_column+1).value = cellsource 
        # !!!! (should be 10)

# see what was written
for idx,row in enumerate(overview["A1:O3"]):
    print (idx+1, [x.value for x in row])

In [ ]:
# we have added first to rows  of the Overview part
# row nb 2, col B

img = mpimg.imread('images/img_5.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# save the new workbook 
wb.save('Budget_processed.xlsx')

## Monthly totals by business

In [ ]:
# compute... :

# Groupby by Business category (yellow part)
# Monthly Total (red part)
# monthly evolution (blue part)

In [ ]:
# total by busines type, split afterwards by INCOME and EXP

img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

Total by busines

Income

In [ ]:
# identify column index for column with Income
income_months=[]
for month in df.columns:
    if 'Income' in month:
        income_months.append(month)
        
# remove 'Total Income' from the list
income_months.remove('Total Income')
print(income_months)

In [ ]:
# comute totals by business group for income

# first create a df= business_income where it will group by business for each month
business_income = round(df.groupby(['Business'])[income_months].sum(), 2)
business_income

In [ ]:
# add a columns where total for all months for income will be comutes
business_income['Total Income'] = round(business_income.sum(axis=1), 2)
business_income

Expenditure

In [ ]:
# identify column index for column with Income
exp_months=[]
for month in df.columns:
    if 'Expenditure' in month:
        exp_months.append(month)
        
# remove 'Total Income' from the list
exp_months.remove('Total Expenditure')
print(exp_months)

In [ ]:
business_exp = round(df.groupby(['Business'])[exp_months].sum(), 2)
business_exp['Total Expenditure'] = round(business_exp.sum(axis=1), 2)
business_exp

In [ ]:
# join the 2 df horizontally
business_df = pd.concat([business_income, business_exp], axis=1)
business_df

In [ ]:
# we groupby by busines (the yellow part)
# review scrrenshot !!!!
img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

Get the totals by columns of business_df

In [ ]:
business_col = business_df.columns.to_list()
#business_col.remove('Total Income')
#business_col.remove('Total Expenditure')
business_col

In [ ]:
# get Total by Month (in column)

monthly_total = round(business_df[business_col].sum(), 2)
print(len(monthly_total))
monthly_total

In [ ]:
# total by columns for business_df (the red part)
# review screenshot !!!

img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
ev = round(monthly_total.pct_change(), 5)
ev['Total Income'] = None
ev['Jan Expenditure'] = None
ev['Total Expenditure'] = None
ev

In [ ]:
# evolution from month to month, that afterwords will be formated as a %
# the blue part

# review screenshot !!!
img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# Till now we computed:

# business_df
print(business_df.shape, business_df.iloc[:, :5])
print('')

# monthly_total
print(len(monthly_total), monthly_total[:5])
print('')

# monthly evolution
print(len(ev), ev[:5])

We would like to write them all in our excel, sheet overview

In [ ]:
# in our excel in the sheet Overview we have

img = mpimg.imread('images/img_5.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

### Copy new data to excel overview

In [ ]:
def copyRange(startCol, startRow, endCol, endRow, sheet):
    rangeSelected = []
    # Loops through selected Rows
    for i in range(
      startRow,endRow + 1,1):
        # Appends the row to a RowSelected list
        rowSelected = []
        for j in range(startCol,endCol+1,1):
            rowSelected.append(sheet.cell(row = i, column = j).value)
        # Adds the RowSelected List and nests inside the rangeSelected
        rangeSelected.append(rowSelected)

    return rangeSelected

In [ ]:
# Paste data from copyRange into template sheet
def pasteRange(startCol, startRow, endCol, endRow, sheetReceiving, copiedData):
    countRow = 0
    for i in range(startRow,endRow+1,1):
        countCol = 0
        for j in range(startCol,endCol+1,1):
            
            sheetReceiving.cell(row = i, column = j).value = copiedData[countRow][countCol]
            countCol += 1
        countRow += 1

cell notation with xl_rowcol_to_cell

(0, 0)      # Row-column notation.
('A1')      # The same cell in A1 notation.

(6, 2)      # Row-column notation.
('C7')      # The same cell in A1 notation

In [ ]:
# cell notation with xl_rowcol_to_cell

print(xl_rowcol_to_cell(6,2)) # always add + 1
print(xl_rowcol_to_cell(0,0))
print(xl_rowcol_to_cell(9,3))

In [ ]:
print(business_df.shape)

# get only the values of the business_df (omit indices)
business_values = business_df.values
print(len(business_values))
print(len(business_values[0]))

We want to paste in the excel, sheet overview with function 
pasteRange()

But first, we need to compute the range where to pasted

In [ ]:
# write a function that will compute the accurate nb of rows by omitting blanks
def get_maximum_rows_blank(*, sheet_object):
    rows = 0
    for max_row, row in enumerate(sheet_object, 1):
        if  not all(col.value is None for col in row):
            rows += 1
        
    return rows

# call the new function
get_maximum_rows_blank(sheet_object = overview)

In [ ]:
# write a function that will compute the accurate nb of rows including the blanks, up to the last non blanks
def get_maximum_rows(*, sheet_object):
    df_range= 'A1:' + str(get_column_letter(sheet_object.max_column)) + str(sheet_object.max_row)
    rows = 0
    for idx, row in enumerate(sheet_object[df_range]): # values_only=True meanse we want to access the values
        if not all(col.value is None for col in row):
            rows += 1
            last_row = idx+1
    return last_row

get_maximum_rows(sheet_object = overview)

In [ ]:
def get_maximum_cols(sheet):
    for i in range(2, 20000):
        if sheet.cell(row=1, column= i).value == None:
            max_col = i
            break
    return max_col-1

In [ ]:
# so will use the last non blank row with funct get_maximum_rows, which give us 3
# we know that we want to add business_df values under this row

img = mpimg.imread('images/img_5.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# compute the coordianted for the range where to paste

start_row = get_maximum_rows(sheet_object = overview)
print(start_row)
start_col = 1
print(start_col)
end_row = get_maximum_rows(sheet_object = overview) + business_df.shape[0] -1
print(end_row)
end_col = business_df.shape[1] 
print(end_col)

In [ ]:
# the range where we want to paste the data B4:O7

# check if we computed correctly the range whe we want to paste business_df values
xl_range(start_row , # starting row # 4
         start_col, # start_col B
         end_row , # end_row 0
         end_col) # end_col

In [ ]:
# be carefull the paste range has to have the same dimensions as the selected range

pasteRange(startCol = start_col+1,
           startRow = start_row + 1, 
           endCol= end_col+1, 
           endRow = end_row +1, 
           sheetReceiving= overview,
           copiedData = business_values)

In [ ]:
# save the new workbook 
wb.save('Budget_processed.xlsx')

Insert Monthly total row

In [ ]:
# insert 2 rowsat row 4 (after row INCOME/EXPEND and row with month)

overview.insert_rows(idx=4, # row location
                  amount=2) # how many rows to insert
wb.save('Budget_processed.xlsx')

In [ ]:
# see what was written
for idx,row in enumerate(overview["A1:O7"]):
    print (idx+1, [x.value for x in row])

Write monthly_total in excel

In [ ]:
# copy monthly total row at 4th row

cellrange= monthly_total 
target_row= 4
for i in range(0, len(cellrange)): 
    overview.cell(row=target_row, column = i+2).value= cellrange[i]
    # + 1 because we have data shifted by 1 column in excel

# see what was written
for idx,row in enumerate(overview["A1:O7"]):
    print (idx+1, [x.value for x in row])    

wb.save('Budget_processed.xlsx')

Insert monthly evolution

Evolution

In [ ]:
# copy monthly evolution total row at 4th row

cellrange= ev
target_row= 5
for i in range(0, len(cellrange)): 
    overview.cell(row=target_row, column = i+2).value= cellrange[i]
    # + 2 because we have data shifted by 1 column in excel

# see what was written
for idx,row in enumerate(overview["A1:O7"]):
    print (idx+1, [x.value for x in row])
    
wb.save('Budget_processed.xlsx')

Add list : 
[ Month, MonthlyTotal, M2M evol, 
  B2B, B2C_1, B2C_2, Fleet]

in the 1st column ['A4:A10]

In [ ]:
# to obtain this list...
# we neetd to contatenate the strings Month, MonthlyTotal, M2M evol
# B2B, B2C_1, B2C_2, Fleet from business_df

l1 = ['Month', 'MonthlyTotal', 'M2M evol']
l2 = list(business_df.index)
col_1 = l1 + l2
col_1

In [ ]:
# write it to the excel

starting_row = 3

for r in col_1:
    overview.cell(row=starting_row, column=1).value = r
    # 3.3 increment the counter
    starting_row= starting_row + 1
    
# see what was written
for idx,row in enumerate(overview["A1:O7"]):
    print (idx+1, [x.value for x in row])

# !!!! Don't forget to save the modification
wb.save('Budget_processed.xlsx')

In [ ]:
# review screenshot !!
img = mpimg.imread('images/img_7.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

## Previous Month

In [ ]:
# Previous month lime color
# review screenshot !!
img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
print(months)
previous_month = months[-3]
previous_month
#months.index(previous_month)

In [ ]:
business_df.columns

In [ ]:
# compute the range uptil the previous month for INCOME

inc_idx= []
range_end = []

# in the incomu columns
for idx, col in enumerate(business_df.columns):
    if 'Income' in col:
        inc_idx.append(idx)
        if previous_month in col:
              range_end= idx 
                
print(min(inc_idx)) 
print(range_end)

range_prev_inc = [min(inc_idx), range_end]
print(range_prev_inc) # uptil May

In [ ]:
# what we get up to May
business_df.iloc[:, min(inc_idx):range_end+1] # +1 as in range the interval is open

In [ ]:
# first sum all columns
# 2nd sum all rows

previous_income = business_df.iloc[:, min(inc_idx):range_end+1].sum(axis=1).sum()
previous_income

In [ ]:
# copy the value in excel
# first we need to identify the coordinates where to copy the valye
# we know that this cell will be above Total Columns

In [ ]:
# columns nb where we have totals

total_col = []
# find column number of column that = Total
for i in range(1, overview.max_column+1):# without + 1
    ref = overview.cell(row=3, column=i)
    if ref.value == 'Total':
        total_col.append(ref.column)
        print('the column nb for Total is: ', ref.column)
        
print(total_col)

In [ ]:
print('the column where to add Previous Total for INCOME', get_column_letter(total_col[0]))
row = 1 # row nb where to paste previous income value
ref = str(get_column_letter(total_col[0])) + str(row)


print('the cell reference where to add Previous Total for INCOME', ref)

In [ ]:
# write it in Excel 
overview[ref] = round(previous_income,2)
overview[ref].value

In [ ]:
# string Prevous month
ref = str(get_column_letter(total_col[0]-1)) + str(row)
print(ref)
overview[ref] = 'Prior'
overview[ref].value

In [ ]:
# see what was written
for idx,row in enumerate(overview["A1:O2"]):
    print (idx+1, [x.value for x in row])

In [ ]:
# save 
wb.save('Budget_processed.xlsx')

now the same for expenditure previous month

In [ ]:


# string Prevous month
ref = str(get_column_letter(total_col[1]-1)) + str(row)
ref
#overview[ref] = 'Prior'

In [ ]:
# compute the range uptil the previous month for expenditure

inc_idx= []
range_end = []

# in the exp columns
for idx, col in enumerate(business_df.columns):
    if 'Expenditure' in col:
        inc_idx.append(idx)
        if previous_month in col:
              range_end= idx 
                
range_prev_exp = [min(inc_idx), range_end]

# compute all prior exp
previous_exp = business_df.iloc[:, min(inc_idx):range_end+1].sum(axis=1).sum()

# cell ref
row = 1 # row nb where to paste previous income value
ref = str(get_column_letter(total_col[1])) + str(row)

# write it in Excel value
overview[ref] = round(previous_exp,2)


# string Prevous month
ref = str(get_column_letter(total_col[1]-1)) + str(row)
overview[ref] = 'Prior'

In [ ]:
# see what was written
for idx,row in enumerate(overview["A1:O2"]):
    print (idx+1, [x.value for x in row])

In [ ]:
wb.save('Budget_processed.xlsx')

In [ ]:
# Previous month 
# review screenshot !!
img = mpimg.imread('images/img_8.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

## Copy / Insert/ Paste overview

In [ ]:
# we want to insert the data frame from overview sheet to Data sheet

# Steps
# Insert rows on Data sheet
# Copy celrange from overview sheet
# Paste copied cellrane to Datasheeet
# delete overview sheet that we wont need anymore

In [ ]:
# back to our sheet called Data
sheet.title

In [ ]:
# insert 12 rows, starting at row 1

# insert rows

sheet.insert_rows(idx=1, # row location
                  amount=12) # how many rows to insert
wb.save('Budget_processed.xlsx')

In [ ]:
# inserted rows in Data sheet

img = mpimg.imread('images/img_9.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# copy the overview df

selectedRange = copyRange(startCol =1,
                          startRow= 1,
                          endCol= business_df.shape[1]+1 ,
                          endRow = get_maximum_rows_blank(sheet_object = overview),
                          sheet = overview)

print(len(selectedRange))
for row in selectedRange:
    print(row)

In [ ]:
pasteRange(startCol = 1,
           startRow = 2, 
           endCol= business_df.shape[1]+1, 
           endRow = get_maximum_rows_blank(sheet_object = overview),
           sheetReceiving= sheet,
           copiedData = selectedRange)

# see what was written
for idx,row in enumerate(overview["A1:O14"]):
    print (idx+1, [x.value for x in row])

In [ ]:
# past rows in Data sheet

img = mpimg.imread('images/img_10.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
wb.save('Budget_processed.xlsx')

In [ ]:
# remove autofilers

sheet.auto_filter.ref = None
for i in range(2, sheet.max_row + 1):
    sheet.row_dimensions[i].hidden = False

wb.save('Budget_processed.xlsx')

In [ ]:
# after removing the autofilers

img = mpimg.imread('images/img_11.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# remove overview sheet
wb.remove(overview) 

# remove 'Department' sheet
wb.remove(wb[wb.sheetnames[1]]) 

print(wb.sheetnames)


# save the new workbook 
wb.save('Budget_processed.xlsx')

In [ ]:
# close  workbokk
wb.close()